*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e3a8a,#0f766e);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

#welcome{
width:90%;
max-width:400px;
text-align:center;
background:rgba(255,255,255,0.08);
padding:40px 25px;
border-radius:20px;
backdrop-filter:blur(10px);
box-shadow:0 0 20px rgba(0,0,0,.4);
}

#welcome h1{
font-size:38px;
color:#00ffcc;
margin-bottom:10px;
}

#welcome h3{
font-size:18px;
margin-bottom:40px;
color:#ddd;
}

button{
width:220px;
padding:15px;
border:none;
border-radius:40px;
background:#00ff99;
font-size:20px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

#dashboard{
width:95%;
max-width:500px;
text-align:center;
}

select{
width:100%;
padding:15px;
font-size:18px;
border-radius:10px;
margin:20px 0;
    }
