*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b,#0f766e);
color:white;
min-height:100vh;
padding:20px;
}

#welcome{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

#welcome h1{
font-size:42px;
color:#00ffcc;
margin-bottom:15px;
}

#welcome p{
font-size:18px;
margin-bottom:35px;
color:#d1d5db;
}

button{
background:#00ff99;
color:#000;
padding:15px 35px;
font-size:20px;
border:none;
border-radius:30px;
font-weight:bold;
cursor:pointer;
}

#home{
display:none;
}

#home h2{
text-align:center;
margin-bottom:25px;
}

.menu{
display:grid;
grid-template-columns:1fr;
gap:15px;
}

.card{
background:rgba(255,255,255,.08);
padding:20px;
border-radius:18px;
font-size:20px;
text-align:center;
border:1px solid rgba(255,255,255,.15);
cursor:pointer;
transition:.3s;
}

.card:hover{
background:#00ff99;
color:black;
transform:scale(1.03);
}
