*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
padding:20px;
}

#welcome{
text-align:center;
margin-top:40px;
}

#welcome h1{
color:#00ff99;
font-size:40px;
margin-bottom:10px;
}

#welcome p{
margin-bottom:20px;
}

button{
background:#00ff99;
color:black;
border:none;
padding:15px 35px;
border-radius:30px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

#home{
margin-top:40px;
}

#home h2{
text-align:center;
margin-bottom:20px;
}

.menu{
display:flex;
flex-direction:column;
gap:15px;
}

.card{
background:#1e293b;
padding:18px;
border-radius:15px;
font-size:20px;
text-align:center;
}
